<h1 class="text-center"><%= @mission.title %></h1>
<p class="text-center"><%=@users.find(@mission.user_id).name %></p>

<!-- <div class="card">
  <div class="card-header">
    <h3><%= @mission.title %></h3>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @mission.title %></p>
      <footer class="blockquote-footer"> by: <%= @mission.user_id %> <cite title="Source Title">on <%= @mission.created_at %></cite></footer>
    </blockquote>
  </div>
</div> -->

<table class="table">
  <tbody>
	  <% @mission.attributes.each do |key,value| %>	
  	   <% if @info[key] %>  
        <tr>
  	      <th scope="row"><%= @info[key] %></th>
  	      <td><%= value %></td>
  	    </tr>
       <% end %> 
	  <% end %>   
  </tbody> 
</table>
