<div class="container">
  <div>
    <section class="content">
      <h1>Base de données des actions</h1>
      <div class="col">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <div class="btn-group">
                <% @hash.each do |key,value| %>
                  <button type="button" class="btn btn btn-outline-secondary btn-filter" data-target="<%= value %>"><%= value %></button>
                <% end %>
                <button type="button" class="btn btn-default btn-filter" data-target="all">Tous</button>
              </div>
            </div>
            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  <!-- Row Start -->
                  <% @missions.each.with_index do |mission,ind| %>
                    <tr data-status="<%= mission.theme %>">
                      <td>
                        <div class="ckbox">
                          <input type="checkbox" id="checkbox5">
                          <label for="checkbox5"></label>
                        </div>
                      </td>
                      <td>
                        <a href="javascript:;" class="star">
                          <i class="glyphicon glyphicon-star"></i>
                        </a>
                      </td>
                      <td>
                        <div class="media">
                          <%= link_to image_tag("https://loremflickr.com/200/200?random=#{ind}/kitten", class: "media-photo"), mission_path(mission.id), class: 'pull-left' %>
                          <div class="media-body">
                            <span class="media-meta pull-right"><%= mission.start %></span>
                            <h4 class="title">
                              <%= link_to "#{mission.title}", mission_path(mission.id) %>
                              <span class="pull-right pendiente">
                                <%= mission.theme %>
                              </span>
                            </h4>
                            <p class="summary"><%= User.find(mission.user_id).name %></p>
                          </div>
                          <% if current_user && mission.user_id == current_user.id %>
                            <div class="pull-right">
                              <%= link_to 'Edit', edit_mission_path(mission.id) %>
                            </div>
                          <% end  %>
                        </div>
                      </td>
                    </tr>
                  <% end %>   
                  <!-- Row End -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>